<ion-header>
    
    <ion-navbar>
      <ion-toolbar no-border-top color="primary" *ngIf="demo != 'Title'">
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div *ngIf="user | async; then loggedProfile else guestProfile"></div>
    <!-- template for guest profile -->
    <ng-template #guestProfile>
        <h1>Sorry!</h1>
        <h3>Only registered users can chat with other users!</h3>
    </ng-template>
  
  <ng-template #loggedProfile>
      <h1>
          Welcome Back, <br> {{ (user | async)?.name }}
      </h1>
      <h3>See your last chats with other people!!!!</h3>
  </ng-template>
  </ion-content>
  