<ion-header> 
    <ion-navbar>
        <ion-toolbar no-border-top color="primary" *ngIf="demo != 'Title'">
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
    </ion-navbar>
 </ion-header>
        
<ion-content>
    <h1 item-center>File Details</h1>
    <!-- Title -->
    <ion-item text-wrap>
      <ion-icon name="document" item-left></ion-icon> Title: {{ (selectedFile | async)?.title }}
    </ion-item>
    <!-- Description -->
    <ion-item text-wrap>
      <ion-icon name="contact" item-left></ion-icon> Description: {{ (selectedFile | async)?.description }} 
    </ion-item>
    <!-- Owner -->
    <ion-item text-wrap>
      <ion-icon name="contact" item-left></ion-icon> Owner: {{ (((selectedFile | async)?.userId | userIdPipe ) | async)?.name }}
    </ion-item>
    <!-- Created At -->
    <ion-item text-wrap>
      <ion-icon name="time" item-left></ion-icon> Created At: {{ (selectedFile | async)?.createdAt }}
    </ion-item>
    <!-- Modify At -->
    <ion-item text-wrap>
      <ion-icon name="time" item-left></ion-icon> Modified At: {{ (selectedFile | async)?.modifiedAt }}
    </ion-item>
    <!-- Categories -->
    <ion-item text-wrap>
      <ion-icon name="albums" item-left></ion-icon> Categories:
      <ion-badge *ngFor="let category of (selectedFile | async)?.categories" color="secondary">
          {{ category }}
      </ion-badge>     
    </ion-item>
    <!-- Tags -->
    <ion-item text-wrap>
      <ion-icon name="pricetags" item-left></ion-icon> Tags: 
      <ion-badge *ngFor="let tag of (selectedFile | async)?.tags" color="secondary">
          {{ tag }}
      </ion-badge>    
    </ion-item>
    <!-- Visibility -->
    <ion-item text-wrap>
      <ion-icon name="lock" item-left></ion-icon> Visibility: {{ (selectedFile | async)?.visibility }}
    </ion-item>
    <!-- Size -->
    <ion-item text-wrap>
      <ion-icon name="cube" item-left></ion-icon> Size: N/A
    </ion-item>

    <!-- Comments : this needs to be ngFor -->
    <ion-item text-wrap>
      <ion-icon name="cube" item-left></ion-icon> Comments: 
      {{ (((selectedFile | async)?.comments?.userId | userIdPipe ) | async)?.name }} {{ (selectedFile | async)?.comments?.comment }}
    </ion-item>

    <!-- Comment Add Form : fix this-->
    <form [formGroup]="commentForm" (ngSubmit)="commentFile(commentForm.value)">
        <ion-item text-wrap>
            <ion-label stacked>Comment</ion-label> 
            <ion-textarea rows="4" placeholder="Add your comment" formControlName="comment"></ion-textarea>
            <button ion-button type="submit" item-right color="secondary" [disabled]="!commentForm.valid">
                    <ion-icon name="add" item-center></ion-icon>
            </button>       
          </ion-item>
    </form>
    
    <button ion-button full color="secondary" (click)="updateFile()">Update File</button>
    <button ion-button full color="primary" (click)="showDeleteFileAlert()">Delete</button>
        
</ion-content>