page-welcome {
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top:50px
    }
    .marginTop{
        margin-top:50px;
    }
    .logo{
        // height: 150px;        
    }

    .version-number {
        color: #a9a9a9;
        margin-top: 5px;
        margin-bottom: 0px;
        //margin: 5px auto 0px auto;
        font-size: 1.1em;
        text-align: center;
    }
}
