<ion-header>
    
      <ion-navbar>
        <ion-toolbar no-border-top color="primary" *ngIf="demo != 'Title'">
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
      <ion-item>
        <h1>Files</h1>
      </ion-item>
      <ion-card *ngFor="let file of (files | async)">
          <ion-card-header >
            <ion-icon *ngIf="file?.visibility === 'PUBLIC'" name="unlock" item-left></ion-icon><ion-icon *ngIf="file?.visibility === 'PRIVATE'" name="lock" item-left></ion-icon> {{ file.title }}
            </ion-card-header>
            <ion-card-content>
                {{ file.description }}
                <br>
                <ion-badge color="secondary">
                    <!-- TODO check if this affects performance -->
                    By: {{ ((file.userId | userIdPipe) | async)?.name }}
                </ion-badge> 
            </ion-card-content>
      </ion-card>
      <ion-item>
        <h1>Categories</h1>
      </ion-item>
      <button *ngFor="let category of categories" ion-button type="button" color="primary" (click)="popo()">
            {{ category }}
    </button>
    <ion-item>
      <h1>Tags</h1>
    </ion-item>   
    <button *ngFor="let tag of tags" ion-button type="button" color="primary" (click)="popo()">
            {{ tag }}
    </button>   
    </ion-content>
    